{% extends "base.html" %}

{% block title %}{{ collection }}{% endblock %}

{% block content %}
<div>{{ object }}</div>

<div>
{% if offers %}
{% for offer in offers %}
<div>
    {{ offer }}
</div>
{% endfor %}
{% else %}
No offers available in this collection.
{% endif %}
</div>
{% endblock %}